
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Position</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
</table>




@section Scripts {
    <script>
        var page = 1;
        $(document).ready(function () {
            loadApplications(1);
        });
        function loadApplications(page) {
            $.ajax({
                url: "api/Job/GetAll",
                type: "GET",
                success: function (response) {
                    console.log("im here");
                    console.log(response);
                    $.each(response.jobApplications, function (i, application) {
                        console.log(application);
                        let tableRow = document.createElement("tr");

                        let th = document.createElement("th");
                        th.scope = "row";
                        th.textContent = application.id;

                        let trFirstName = document.createElement("td");
                        trFirstName.textContent = application.firstName;
                        let trLastName = document.createElement("td");
                        trLastName.textContent = application.lastName;
                        let trPosition = document.createElement("td");
                        trPosition.textContent = application.position;
                        let trButtons = document.createElement("td");
                        trButtons.classList.add("tr-buttons");
                        let deleteButton = document.createElement("button");
                        deleteButton.textContent = 'Delete';
                        deleteButton.classList.add("btn", "btn-danger");
                        let editButton = document.createElement("button");
                        editButton.textContent = 'Edit';
                        editButton.classList.add("btn", "btn-info");
                        trButtons.appendChild(editButton);
                        trButtons.appendChild(deleteButton);

                        tableRow.appendChild(th);
                        tableRow.appendChild(trFirstName);
                        tableRow.appendChild(trLastName);
                        tableRow.appendChild(trPosition);
                        tableRow.appendChild(trButtons);

                        document.getElementById("table-body").appendChild(tableRow);
                    });

                },
                error: function () {
                    alert("blad");
                }
            });
        }
    </script>
}

<style>
    .btn-danger {
        padding: 5px;
        font-size: 11px;
    }

    .btn-info {
        padding: 5px;
        margin-right: 5px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 11px;
    }

    .tr-buttons {
        width: 10%;
    }

</style>