
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var job in ViewData["jobs"] as List<JobManagement.Models.JobApplication>)
{
    <label>First name: @job.FirstName</label>
    <br/>
    <label>Last name: @job.LastName</label>
    <br/>
    <label>Apply for: @job.Position</label>
    <br/>
}
